/************** CAROUSEL **************/
.carousel-top {
    .container {
        .row {
            padding-bottom: 40px;
            .title-container {
                padding-top: 100px;
                padding-bottom: 40px;
            }
        }
    }
    .row {
        margin: auto;
        .col-4 {
            .identify {
                padding: 20px 0;
                img {
                    border-radius: 50%;
                    width: 80px;
                }
                .text-container {
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                }
            }
        }
    }
    .claim {
        padding: 0 80px;
    }
    button {
        margin-top: 60px;
        padding: 10px 60px;
        border: none;
        height: 50px;
    }
    img {
        object-fit: contain;
    }
}

.inactive-card,
.active-card {
    width: 100%;
    padding: 20px;
}

.inactive-card {
    opacity: 0.7;
}

.fa-circle {
    margin: 0 10px;
}

.fa-circle:hover {
    cursor: pointer;
}
