/************** FEATURES ***************/
.features {
    .title-container {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .container {
        .row {
            .col-4 {
                img {
                    margin-bottom: 40px;
                }
                .info-container {
                    p {
                    }
                }
            }
        }
    }
}