/************** FEATURES ***************/
.features {
    .title-container {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .container {
        .row {
            .col-4 {
                img {
                    margin-bottom: 40px;
                }
                .info-container {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        .row:last-of-type {
            margin-top: 100px;
            margin-bottom: 100px;
            .col-8 {
                img:nth-of-type(2) {
                    left: 50%;
                    top: 50%;
                    transform: translate(-80%, -50%);
                }
                img:nth-of-type(2):hover {
                    cursor: pointer;
                }
            }
            .col-4 {
                h6 {
                    margin-top: 50px;
                }
                h2 {
                    font-size: 2.5rem;
                    margin: 20px 0;
                }
                p {
                    margin-top: 20px;
                    margin-bottom: 40px
                }
            }
        }
    }
}
