.footer {
    .container {
        .row {
            padding-top: 40px;
            .col-6 {
                h4 {
                    padding-top: 10px;
                }
                .address {
                    font-size: 13px;
                    padding: 5px 0
                }
                .row {
                    padding-top: 20px;
                    margin-left: 0;
                    font-size: 25px;
                    .fab {
                        padding: 0 25px 0 5px;
                    }
                    .fab:hover {
                        color: #1FAD96;
                        cursor: pointer;
                    }
                }
            }
            .col-3 {
                a:hover {
                    color: #1FAD96;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}