/************** MAIN **************/
/* Jumbotron */

.jumbotron {
    width: 80%;
    .row {
        .col-5 {
            padding-left: 0;
            h1 {
                width: 90%;
            }
            p {
                margin-top: 20px;
            }
            button {
                border: none;
                padding: 15px 20px;
                margin-bottom: 20px;
                -webkit-transition: background-color 0.5s ease-out;
                -moz-transition: background-color 0.5s ease-out;
                -o-transition: background-color 0.5s ease-out;
                transition: background-color 0.5s ease-out;
                .fa-download {
                    padding: 0 10px;
                }
            }
            button:hover {
                color: white;
                background-color: #3F3A64;
                cursor: pointer;
            }
            span {
                -webkit-transition: color 0.5s ease-out;
                -moz-transition: color 0.5s ease-out;
                -o-transition: color 0.5s ease-out;
                transition: color 0.5s ease-out;
            }
            span:hover {
                color: #3F3A64;
                cursor: pointer;
            }

        }
        .col-7 {
            padding-right: 0;
            text-align: end;
            .portrait {
                border-radius: 50%;
                position: relative;
                z-index: 1;
            }
        }
        .testimonials {
            margin-top: 40px;
            width: 100%;
        }
    }
}