/************ GENERAL RULES ************/
body {
    font-family: "Poppins", sans-serif;
}

.even {
    justify-content: space-evenly
}

hr {
    margin: 0;
    padding: 0;
    height: 15px;
    background: rgb(230,230,230);
    background: linear-gradient(180deg, rgba(230,230,230,0.5049370089832808) 0%, rgba(255,255,255,1) 100%);
}

@import "./partials/palette.scss";
@import "./partials/header.scss";
@import "./partials/jumbotron.scss";
@import "./partials/courses.scss";
@import "./partials/features.scss";
@import "./partials/carousel.scss";
@import "./partials/stats.scss";
@import "./partials/blog-posts.scss";
@import "./partials/subscribe.scss";
@import "./partials/footer.scss";
